@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-sm text-white uppercase hover:bg-gray-700  focus:bg-gray-700 active:bg-gray-900  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150 disabled:opacity-25;

        /*
        dark: 
        dark:bg-gray-200
        dark:text-gray-800
        dark:hover:bg-white
        dark:focus:bg-white
        dark:active:bg-gray-300
        dark:focus:ring-offset-gray-800 
        */

        &--primary {
        }

        &--secondary {
        }

        &--danger {
            @apply bg-red-500 text-white;
        }
    }
}
