@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply inline-flex items-center justify-center text-center px-7 py-2.5 leading-tight space-x-2 border border-transparent rounded-lg font-medium text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 transition ease-in-out duration-150 disabled:opacity-25;

        /*
        dark: 
        dark:bg-gray-200
        dark:text-gray-800
        dark:hover:bg-white
        dark:focus:bg-white
        dark:active:bg-gray-300
        dark:focus:ring-offset-gray-800 
        */

        &--primary {
            @apply bg-primary text-white focus:ring-light-primary;
        }

        &--outline-primary {
            @apply border-primary text-primary hover:bg-primary hover:text-white;
        }

        &--secondary {
            @apply bg-gray-800 text-white active:bg-gray-900 hover:bg-gray-700 focus:bg-gray-700 active:text-white hover:text-white focus:text-white focus:ring-gray-500 
        }

        &--outline-secondary {
            @apply border-gray-800 text-gray-800 active:bg-gray-900 hover:bg-gray-700 focus:bg-gray-700 active:text-white hover:text-white focus:text-white focus:ring-gray-500 
        }

        &--danger {
            @apply bg-red-500 text-white;
        }

    }

    .form-input{
        @apply block w-full border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md disabled:bg-gray-50 disabled:border-gray-200 disabled:cursor-not-allowed;

        &--search{
            @apply pl-12;
        }

        &--error{
            @apply border-red-500 focus:ring-red-300;
        }
    }

    .products-table{
        @apply table w-full;

        th{
            @apply bg-light-alt-primary first:rounded-l-lg last:rounded-r-lg text-xs font-medium px-5 py-3.5 text-grey text-left;
        }

        td{
            @apply px-5 py-3.5 border-b align-middle first:rounded-l-lg last:rounded-r-lg;
        }

        .row--active{
            td{
                @apply bg-gray-200;
            }
        }
    }

    .form-card{
        @apply bg-white p-8 rounded-lg border border-gray-100;
    }
}
